main {
  background: var(--bg);
  color: var(--fg);
  text-align: right;
}

main > section > h1::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 100px;

  background-color: white;
  width: 100px;
  height: 3px;
}

main q {
  color: violet;
}

main section h1 + p {
  color: yellow;
}

main section h1 ~ h3 {
  color: yellow;
}

[data-color$="especial"] {
  color: royalblue;
}

main section h1:hover + p {
  text-align: center;
}
